html,
body {
  color: #d9d9d9;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: block;
  background: url("./Weather_Icon/pexels-roberto-nickson-2885320.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.weather {
  display: flex;
}

.right_side {
  display: flex;
  flex-direction: column;
}

.left_side {
  display: flex;
  flex-direction: column;
}

.main_info {
  margin: 20px;
  width: 300px;
  height: 275px;
  text-align: center;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.09);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.2px);
  -webkit-backdrop-filter: blur(9.2px);
  border: 1px solid rgba(255, 255, 255, 0.27);
}

.location {
  text-align: left;
  font-size: 20px;
  padding: 10px;
  margin-top: 10px;
  margin-left: 20px;
  font-weight: 600;
}

.weather_condition {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 150px 150px;
}

.condition {
  margin-left: 30px;
  line-height: 0.8;
  text-align: left;
  font-size: 24px;
  font-weight: 400;
}

.temp {
  padding: 10px;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}

span {
  position: relative;
  display: block;
}

.temp_max {
  position: relative;
  float: left;
  text-align: left;
  margin-left: 40px;
  font-weight: 500;
}

.temp_min {
  position: relative;
  float: right;
  margin-right: 40px;
  font-weight: 500;
}

.weather_icon {
  height: 80px;
  width: 80px;
  padding: 0px;
  margin: 0px;
}

.SearchBar {
  display: flex;
  width: 335px;
  height: 50px;
  margin-top: 15px;
  background-color: transparent;
}

.SearchBar .search_bar {
  width: 255px;
  font-size: 20px;
  padding: 10px;
  border: none;
  background-color: #d9d9d9;
  height: 50px;
  margin-left: 5px;
}

.SearchBar .search_bar:focus {
  border: 0;
  outline: none;
}

.SearchBar .search_button {
  margin: 10px;
  border: none;
  width: 50px;
  height: 50px;
}
.SearchBar .search_button:hover{
  background-color: grey;
}
.geolocator .location_button {
  border: none;
  width: 50px;
  height: 50px;
}
.geolocator .location_button:hover{
  background-color: grey;
}
.geolocator {
  margin-top: 25px;
  margin-right: 50px;
  position: relative;
}

.weather_details {
  display: grid;
  grid-template-columns: 280px 280px 280px 280px;
  grid-template-rows: 170px 170px;
  position: absolute;
  margin-top: 100px;
  width: 1150px;
  height: 375px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.09);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.2px);
  -webkit-backdrop-filter: blur(9.2px);
  border: 1px solid rgba(255, 255, 255, 0.27);
}

.navbar {
  display: flex;
  height: 300px;
}

.navbar .social {
  margin-top: 20px;
}


.detailsCard {
  margin-top: 30px;
  margin-left: 40px;
  width: 210px;
  height: 120px;
  border-radius: 15px;
  padding: 10px;
}

.detailsCard h1 {
  margin: 0;
  font-weight: 600;
  margin-left: 10px;
  font-size: 30px;
}

.detail_info img {
  width: 60px;
  height: 60px;
  margin-left: 10px;
}

.detail_info {
  display: flex;
  justify-content: space-between;
}

.detail_info p {
  font-weight: 400;
  margin-top: 30px;
  margin-left: 10px;
}

.hourlyReport {
  display: flex;
}

.hourlyForecast {
  position: relative;
  text-align: center;
  top: 200px;
  background: rgba(255, 255, 255, 0.09);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.2px);
  -webkit-backdrop-filter: blur(9.2px);
  border: 1px solid rgba(255, 255, 255, 0.27);
}

.hourlyForecast h2 {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 5px;
}

.hourlyForecast img {
  height: 70px;
  width: 70px;
  margin: 0;
}

.hourlyForecast {
  width: 130px;
  height: 170px;
  border-radius: 10px;
  margin-right: 15px;
}

.hourlyForecast span {
  font-weight: 500;
}

.dailyReport {
  position: relative;
  width: 300px;
  margin-left: 15px;
  background: rgba(255, 255, 255, 0.09);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.2px);
  -webkit-backdrop-filter: blur(9.2px);
  border: 1px solid rgba(255, 255, 255, 0.27);
}

.dailyForecast {
  display: flex;
  gap: 30px;
  margin: 10px;
}

.dailyForecast img {
  height: 60px;
  width: 60px;
  margin: 0;
}

.dailyForecast .forecast_date {
  font-weight: 500;
  margin-top: 17px;
}

.dailyForecast span {
  margin-top: 17px;
  font-weight: 500;
  margin-left: 20px;
}


.current_time {
  width: 300px;
  display: flex;
  margin-top: 30px;
}

.current_time span {
  font-weight: 600;
  font-size: 25px;
}

.temp_units {
  width: 200px;
  margin-top: 25px;
  margin-left: 100px;
}

.temp_units button {
  border: 0;
  background-color: transparent;
  margin-right: 25px;
  font-size: 35px;
  font-weight: 600;
}

.temp_units button:hover {
  color: #d9d9d9;
}